<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.govy.base.mapper.CompetitionTeamMapper">

    <resultMap id="BaseResultMap" type="com.govy.model.entity.CompetitionTeam">
            <id property="id" column="id" />
            <result property="competitionId" column="competition_id" />
            <result property="teamId" column="team_id" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
    </resultMap>


    <select id="selectByUserId" resultType="java.lang.Boolean" parameterType="java.lang.Integer">
        select count(*)
        from competition_team ct,
             team t,
             team_user tu
        where ct.team_id = t.id
        and t.id = tu.team_id
        and tu.user_id = #{userId}
        and tu.status = #{captain}
        and ct.competition_id = #{competitionId}
    </select>
</mapper>
