<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.govy.base.mapper.CompetitionCategoryMapper">

    <resultMap id="BaseResultMap" type="com.govy.model.entity.CompetitionCategory">
            <id property="id" column="id" />
            <result property="name" column="name" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
    </resultMap>
    <select id="getCompetitionCategoryCount" resultType="com.govy.model.vo.CompetitionCategoryDataVO">
        select cc.name  as category,
               count(*) as count
        from competition_category cc
                 left join competition c on c.category_id = cc.id
        group by cc.name
    </select>

</mapper>
